In [4]:
import numpy as np
import pandas as pd
import sqlite3

## THIS IS THE START OF MY END TO END MLOPS RESEARCH PROJECT

In [5]:
url = '/Users/macbookpro/Desktop/aws-docs/Portfolio_Projects/Aws_MLOPs/nba-data/seasons_total.pq'
nba_df = pd.read_parquet(url)

In [11]:
nba_df

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,TRB,AST,STL,BLK,TOV,PF,PTS,team,year,team_retcon
0,1.0,Christian Laettner,25.0,81,80.0,2770.0,450.0,920.0,0.489,13.0,...,613.0,234.0,101.0,87.0,225.0,302.0,1322.0,MIN,1995,MIN
1,2.0,Isaiah Rider,23.0,75,67.0,2645.0,558.0,1249.0,0.447,139.0,...,249.0,245.0,69.0,23.0,232.0,194.0,1532.0,MIN,1995,MIN
2,3.0,Sean Rooks,25.0,80,70.0,2405.0,289.0,615.0,0.470,0.0,...,486.0,97.0,29.0,71.0,142.0,208.0,868.0,MIN,1995,MIN
3,4.0,Doug West,27.0,71,65.0,2328.0,351.0,762.0,0.461,11.0,...,227.0,185.0,65.0,24.0,126.0,250.0,919.0,MIN,1995,MIN
4,5.0,Winston Garland,30.0,73,58.0,1931.0,170.0,410.0,0.415,19.0,...,168.0,318.0,71.0,13.0,105.0,184.0,448.0,MIN,1995,MIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12693,20.0,Jeenathan Williams,23.0,5,4.0,127.0,24.0,39.0,0.615,3.0,...,15.0,10.0,3.0,2.0,4.0,13.0,53.0,POR,2023,POR
12694,21.0,Shaquille Harrison,29.0,5,0.0,120.0,15.0,36.0,0.417,3.0,...,22.0,30.0,11.0,2.0,6.0,12.0,44.0,POR,2023,POR
12695,22.0,Greg Brown III,21.0,16,0.0,93.0,11.0,28.0,0.393,1.0,...,19.0,3.0,4.0,5.0,6.0,13.0,28.0,POR,2023,POR
12696,23.0,Justin Minaya,23.0,4,0.0,89.0,7.0,23.0,0.304,3.0,...,15.0,4.0,2.0,5.0,4.0,9.0,17.0,POR,2023,POR
12697,24.0,Chance Comanche,26.0,1,0.0,21.0,3.0,5.0,0.600,0.0,...,3.0,0.0,0.0,1.0,0.0,0.0,7.0,POR,2023,POR

In [7]:
nba_df.shape

(12698, 31)

In [12]:
nba_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rk,12698.0,8.521263,5.338157,1.0,4.000,8.000,12.000,30.0
Age,12698.0,26.741298,4.236893,18.0,23.000,26.000,30.000,43.0
G,12698.0,28.860608,26.475878,1.0,6.000,17.000,51.000,82.0
GS,12698.0,14.173413,21.477584,0.0,0.000,4.000,18.000,82.0
MP,12698.0,605.996842,813.336567,0.0,23.300,100.000,1042.000,3464.0
FG,12698.0,93.137526,140.400890,0.0,2.700,11.200,141.000,815.0
FGA,12698.0,208.216475,309.350311,0.0,6.300,28.000,318.000,1927.0
FG%,12565.0,0.428887,0.121380,0.0,0.385,0.432,0.483,1.0
3P,12698.0,17.645621,35.635988,0.0,0.000,1.000,15.000,337.0
3PA,12698.0,50.484651,97.000914,0.0,0.525,3.800,50.000,801.0
3P%,10244.0,0.288620,0.175036,0.0,0.200,0.323,0.380,1.0
2P,12698.0,75.493117,118.413246,0.0,2.000,9.000,108.000,743.0
2PA,12698.0,157.733470,244.082587,0.0,4.300,21.000,231.000,1607.0
2P%,12479.0,0.461651,0.135817,0.0,0.412,0.467,0.519,1.0
eFG%,12565.0,0.470409,0.130488,0.0,0.426,0.480,0.526,1.5
FT,12698.0,45.153504,77.420521,0.0,1.100,6.000,58.000,675.0
FTA,12698.0,60.046377,99.780953,0.0,1.700,8.100,80.000,829.0
FT%,11660.0,0.729531,0.170438,0.0,0.659,0.750,0.833,1.0
ORB,12698.0,28.859939,49.387278,0.0,0.800,4.000,36.000,440.0
DRB,12698.0,76.781044,115.352499,0.0,2.400,11.000,117.000,861.0
TRB,12698.0,105.639116,161.087709,0.0,3.200,15.000,158.000,1247.0
AST,12698.0,54.442282,97.509990,0.0,1.100,7.000,67.000,882.0
STL,12698.0,18.886604,28.026811,0.0,0.500,3.000,29.000,201.0
BLK,12698.0,12.038668,24.438483,0.0,0.200,1.300,13.000,332.0
TOV,12698.0,35.885423,53.348217,0.0,1.000,5.000,55.000,337.0
PF,12698.0,53.916388,70.284956,0.0,2.200,11.000,95.000,371.0
PTS,12698.0,249.069121,378.495947,0.0,7.300,31.000,371.000,2380.0
year,12698.0,2009.766656,8.402434,1995.0,2003.000,2010.000,2017.000,2023.0

In [9]:
cols = nba_df.columns

In [10]:
nba_df.isnull().sum()

Rk                0
Player            0
Age               0
G                 0
GS                0
MP                0
FG                0
FGA               0
FG%             133
3P                0
3PA               0
3P%            2454
2P                0
2PA               0
2P%             219
eFG%            133
FT                0
FTA               0
FT%            1038
ORB               0
DRB               0
TRB               0
AST               0
STL               0
BLK               0
TOV               0
PF                0
PTS               0
team              0
year              0
team_retcon       0
dtype: int64